.logo {
    width: 200px;
    margin: 0 auto;
}

.logoBox {
    border-bottom: 1px solid #e9e9e9;
}

.loginBtn {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    color: #fff;
    background-color: #15883e;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    width: 210px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
}

.loginBtn:hover {
    color: #fff;
    transition-duration: 0.3s;
    background-color: #1db954;
}
