.root {
    color: white;
    min-width: 185px;
    height: 263px;
    background: #181818;
    margin-right: 10px;
    padding: 15px;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
}

img {
    border-radius: 8px;
}

.root:hover {
    background: #282828;
    transition: all 0.3s;
}

.playButton {
    opacity: 0;
}

.playButtonAnimation {
    animation: show 0.3s;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        bottom: -2px;
        opacity: 0;
    }

    100% {
        bottom: 0.5rem;
        opacity: 1;
    }
}
