.root {
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 1px #00000070;
    transition: all 0.3s;
}

.root:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
