.root {
    display: flex;
    height: 56px;
    padding: 0 20px;
    cursor: pointer;
    align-items: center;
}

img {
    border-radius: 2px;
}

.root:hover {
    background: #282828;
    transition: all 0.3s;
}
