.root {
    display: flex;
    height: 56px;
    padding: 0 20px;
    cursor: pointer;
    align-items: center;
    user-select: none;
}

img {
    border-radius: 2px;
}

.root:hover {
    background: #282828;
    transition: all 0.3s;
}

.vipTag {
    background: #1db753;
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 5px;
    line-height: 7px;
}
