/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: block;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff61;
}

.ant-input:focus {
    border-color: black !important;
    box-shadow: 0 0 0 2px #00000033 !important;
}

.ant-input-focused {
    border-color: black !important;
    box-shadow: 0 0 0 2px #00000033 !important;
}
