.root {
    overflow-y: scroll;
    position: absolute;
    height: calc(100% - 155px);
    width: calc(100% - 200px);
}

.filterBg {
    height: 300px;
    filter: blur(75px);
    position: absolute;
    width: 100%;
}

.filterBox {
    position: absolute;
    width: 100%;
}
